#hamburgerBox{
			margin:5px;
			padding: 5px;
			position:relative;
			width:25px;
			height:25px;
			background-color: #a8a8a8;
			border-radius: 0.5em;
			cursor: pointer;
			-webkit-box-shadow:    0 1px 0 #757575, 0 8px 10px #757575;
		    -moz-box-shadow: 0 1px 0 #757575, 0 8px 10px #757575;
		    box-shadow: 0 1px 0 #757575, 0 8px 10px #757575;
		    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
		    -moz-transition: -moz-box-shadow .1s ease-in-out;
		    -o-transition: -o-box-shadow .1s ease-in-out;
		    transition: box-shadow .1s ease-in-out;
		    display: inline-block;
		}
		#hamburgerBox:hover{
			background-color: #b9b9b9;
		}

		.lines{
			position:relative;
			width:100%;
			height: 2px;
			background-color: white;
			margin:4px 0px 4px 0px;
		}

		#menu-toggle:checked + #hamburgerBox > #hamburger{ 
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
		    transform: rotate(180deg);
		    -ms-transform-origin: 50% 50%; 
		    -webkit-transform-origin: 50% 50%;
		    transform-origin: 50% 50%;
		}

		#menu-toggle:checked + #hamburgerBox > #hamburger> #line1 { 
			-webkit-transform: rotate(40deg);
			-moz-transform: rotate(40deg);
			-o-transform: rotate(40deg);
			-ms-transform: rotate(40deg);
		    transform: rotate(40deg);
		    width: 70%;
  			margin-left: 35%;
		}

		#menu-toggle:checked + #hamburgerBox > #hamburger> #line3 { 
			-webkit-transform: rotate(-41deg);
			-moz-transform: rotate(-41deg);
			-o-transform: rotate(-41deg);
			-ms-transform: rotate(-41deg);
		   transform: rotate(-41deg);
		   width: 70%;
  			margin-left: 35%;
		}
		#menu-toggle:checked + #sideMenu{ 
			display: inline;
		}

		.delay{
			transition-duration: 1.2s;
		}

		#menu-toggle {
		  display: none;
		}